
/*
    Created on : 13/04/2016, 13:26:15
    Author     : AJ
*/

/*///////////////////////////////*/
/*viewport*/
@-ms-viewport {
    width: device-width;
    font-size: 1vw;
}

@-o-viewport {
    width: device-width;
    font-size: 1vw;
}

@viewport {
    width: device-width;
    /*user-zoom: fidex;*/
    /*zoom: 1;*/
    /*min-zoom: 0.5;*/
    /*max-zoom: 4;*/
    /* portrait, landscape ou auto */
    orientation: auto;

    /*a fonte ocupa 1% da largura do meu viewport*/
    /*font-size: 1vw;*/
    /*a fonte ocupa 1% da altura do meu viewport*/
    /*font-size: 1vh;*/
    /*a fonte tera 1vw ou 1vh. Será escolhido sempre o valor menor*/
    /*font-size: 1vmin;*/
    /*a fonte terá 1vw ou 1vh, dependendo de quem tiver o valor maior*/
    /*font-size: 1vmax;*/
}
/*///////////////////////////////*/

@media (min-width: 480px){
}
@media (min-width: 768px){
}
@media (min-width: 992px){
}
@media (min-width: 1200px){
}

/*cor*/
.cor-white {
    color: #000000;
    border-color: #000000;
}
.cor-grey {
    color: #999999;
    border-color: #eeeeee;
}
.cor-black {
    color: #000;
    border-color: #000000;
}
.cor-red {
    color: #f75353;
    border-color: #CC0000;
}
.cor-green {
    color: #008749;
    border-color: #008749;
}
.cor-lblue {
    color: #32c8de;
    border-color: #32c8de;
}
.cor-blue {
    color: #609cec;
    border-color: #609cec;
}
.cor-orange {
    color: #f78153;
    border-color: #f78153;
}
.cor-yellow {
    color: #fcd419;
    border-color: #fcd419;
}
.cor-purple {
    color: #cb79e6;
    border-color: #cb79e6;
}
.cor-rose {
    color: #ff61e7;
    border-color: #ff61e7;
}
.cor-brown {
    color: #d08166;
    border-color: #d08166;
}

.column_hidden{}

.MyHRtransparent{
    border-color: transparent;
    border-style: none
}

.col-xs-0{
    width: 0.5px;
}

.campoCaixaAlta{
    text-transform: uppercase
}

.campoCaixaBaixa{
    text-transform: lowercase
}

.login-distancia-top{
    bottom: 40px
}

.table{
    font-size: 12pt
}
.table th{
    font-size: 14pt
}
