
        <div class="wizard">
            <div class="wizard-inner">
                <div class="connecting-line"></div>
                <ul class="nav nav-tabs" role="tablist">

                    <li role="presentation" class="active">
                        <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Etapa 1">
                            <span class="round-tab">
                                <!--<i class="glyphicon glyphicon-folder-open"></i>-->
                                <i>E 1</i>
                            </span>
                        </a>
                    </li>

                    <li role="presentation" class="disabled">
                        <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Etapa 2">
                            <span class="round-tab">
                                <!--<i class="glyphicon glyphicon-pencil"></i>-->
                                E 2
                            </span>
                        </a>
                    </li>
                    <li role="presentation" class="disabled">
                        <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Etapa 3">
                            <span class="round-tab">
                                <!--<i class="glyphicon glyphicon-picture"></i>-->
                                E 2
                            </span>
                        </a>
                    </li>

                    <li role="presentation" class="disabled">
                        <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Etapa Concluida">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-ok"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="form-panel">
                <form role="form" class="form-horizontal style-form">

                    <div class="tab-content">
                        <div class="tab-pane active" role="tabpanel" id="step1">
                            
                            <div class="form-group"> 
                                <label class="col-xs-12 col-sm-6 col-md-2 col-lg-2 control-label">Nome</label>
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                    <input type="text" name="" value="" class="form-control"/>
                                </div>
                                <label class="col-xs-12 col-sm-6 col-md-2 col-lg-2 control-label">sobrenome</label>
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                    <input type="text" name="" value="" class="form-control"/>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="col-xs-12 col-sm-6 col-md-2 col-lg-2 control-label">Idade</label>
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                    <input type="number" name="" value="" class="form-control"/>
                                </div>
                            </div>
                            
                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-primary next-step">Save and continue</button></li>
                            </ul>
                        </div>
                        
                        <div class="tab-pane" role="tabpanel" id="step2">
                            
                            <div class="form-group">
                                <label class="col-xs-12 col-sm-6 col-md-2 col-lg-2 control-label">Plano</label>
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                    <input type="number" name="" value="" class="form-control"/>
                                </div>
                                <label class="col-xs-12 col-sm-6 col-md-2 col-lg-2 control-label">Numero</label>
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                    <input type="number" name="" value="" class="form-control"/>
                                </div>
                            </div>

                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-default prev-step">Anterior</button></li>
                                <li><button type="button" class="btn btn-primary next-step">Save and continue</button></li>
                            </ul>
                        </div>
                        <div class="tab-pane" role="tabpanel" id="step3">
                            <h3>Etapa 3</h3>
                            <div class="">  </div>

                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-default prev-step">Anterior</button></li>
                                <li><button type="button" class="btn btn-default next-step">Pular</button></li>
                                <li><button type="button" class="btn btn-primary btn-info-full next-step">Salve e continue</button></li>
                            </ul>
                        </div>
                        <div class="tab-pane" role="tabpanel" id="complete">
                            <h3>Completo</h3>
                            <div class="">Você concluiu com sucesso todas as etapas.</div>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                </form>
            </div>
        </div>