
<!-- Javascript files -->

<script type="text/javascript" src="{caminho}assets/plugins/Calendario/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="{caminho}assets/plugins/Calendario/jquery.maskedinput-1.3.js"></script>
<script type="text/javascript" src="{caminho}assets/plugins/Calendario/jquery.ui.core.js"></script>
<script type="text/javascript" src="{caminho}assets/plugins/Calendario/jquery.ui.widget.js"></script>
<script type="text/javascript" src="{caminho}assets/plugins/Calendario/jquery.ui.datepicker.js"></script>
<script type="text/javascript" src="{caminho}assets/plugins/Calendario/jquery.ui.datepicker-pt-BR.js"></script>

<script type="text/javascript" >
  $(document).ready(function () {
      $("#dataAten").datepicker({
          changeMonth: true,
          changeYear: true
      });
  });
</script>

<!-- jQuery 1.11.3 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- FUNCOES FULL -->
<script src="{caminho}assets/js/MyFunction.js"></script>
<script src="{caminho}assets/js/FuncionUtil.js"></script>
<script src="{caminho}assets/js/Clonar_ou_Remover_Linhas.js"></script>


<!-- Resolva o conflito no tooltip da interface do usuário do jQuery com a dica de ferramenta Bootstrap -->
<script>
  $.widget.bridge('uibutton', $.ui.button);
</script>





<script src="{caminho}assets/plugins/ckeditor/ckeditor.js"></script>

<script type="text/javascript">
  window.onload = function () {
      CKEDITOR.replace('editorText', {
//            uiColor: '#ccc',
          enterMode: CKEDITOR.ENTER_P,
          customConfig: 'ckeditor/outroConfig.js',
          language: 'pt-br',
          toolbar:
                  [
                      {name: 'basicstyles', items: ['Bold', 'Italic']},
                      {name: 'paragraph', items: ['NumberedList', 'BulletedList']},
                      {name: 'tools', items: ['Maximize', '-', 'About']}
                  ]}
      );
      CKEDITOR.replace('editorTextI', {
//            uiColor: '#ccc',
          enterMode: CKEDITOR.ENTER_P,
          customConfig: 'ckeditor/outroConfig.js',
          language: 'pt-br',
          toolbar:
                  [
                      {name: 'basicstyles', items: ['Bold', 'Italic']},
                      {name: 'paragraph', items: ['NumberedList', 'BulletedList']},
                      {name: 'tools', items: ['Maximize', '-', 'About']}
                  ]}
      );
      CKEDITOR.replace('editorTextII');
  };
</script>