
<script src="https://use.fontawesome.com/4497b73b14.js"></script>

1-As duas funções irão chamar uma segunda função passada por parâmetro no intervalo determinado também por parâmetro.
Sendo a setTimeout() chamando a função uma única vez. Enquanto a setInterval() chama a função “infinitamente” sempre no mesmo intervalo de tempo.
Para pausar a função usa-se clearInterval(). Passando como parâmetro o nome do seu intervalo.

<script >
//1
  var intervalo = window.setInterval(lerolero, 1000);
  function lerolero() {
      window.alert("Popup");
  }
  clearInterval();
//


//
//resolução navegador
//document.write(screen.width + 'x' + screen.height);

//resolução 'real' navegador
//var width = (window.innerWidth > 0) ? window.innerWidth : screen.width;
//var height = (window.innerHeight > 0) ? window.innerHeight : screen.height;
//document.write(width + 'x' + height);

//iconBtn
//if (width <= 800 || width == 1280 || width == 1366) {
//    $(".NaoMostraIcon").remove();
//}

</script>




<!--<script src="{caminho}assets/plugins/ckeditor/ckeditor.js"></script>-->
<script type="text/javascript">
//    window.onload = function () {
//        CKEDITOR.replace('editorText',
//                {uiColor: '#0073b7',
//                    enterMode: CKEDITOR.ENTER_P,
//                    customConfig: 'ckeditor/outroConfig.js',
//                    language: 'pt-br'
//                }
//        );
//    };
</script>