
<!--selectToAutocomplete-->
<link rel="stylesheet" href="{caminho}assets/plugins_my/selectToAutocomplete/css/selectToAutocomplete.css" />

<!--jQuery v@1.8.1-->
<!--selectToAutocomplete-->
<script src="{caminho}assets/plugins_my/selectToAutocomplete/js/jquery-ui-autocomplete.js"></script>
<script src="{caminho}assets/plugins_my/selectToAutocomplete/js/jquery.select-to-autocomplete.min.js"></script>
<script type="text/javascript">
  (function ($) {
      $(function () {
          $('#PacSol').selectToAutocomplete();
      });
  })(jQuery);
</script>

CSS Syntax

- font-size:
medium | xx-small
x-small | small
large | x-large
xx-large | smaller
larger | length
initial | inherit
