<button type="submit" value="Submit">Submit</button>
<button type="reset" value="Reset">Reset</button>

Adicione type = "button" ao botão.
<button name="data" type="button" onclick="getData()">Click</button>
O valor padrão de "tipo" para um botão é "enviar",
que, por sua vez, publica o formulário no seu caso
e faz com que pareça uma atualização.

<script>

//    $('#BTNVoltar').off('click').click(function () {
//        alert('Eu sou uma nova mensagem');
//    });

</script>