
<link rel="icon" href="../Admin/assets/images/favicon.ico"/>
<!-- Bootstrap 3.3.5 -->
<link rel="stylesheet" href="../Admin/assets/bootstrap/css/bootstrap.min.css">
<link href="../Admin/assets/plugins/dataTables v PT-BR/dataTables.bootstrap.css" rel="stylesheet" >
<!-- Font Awesome -->
<script src="https://use.fontawesome.com/4497b73b14.js"></script>
<!-- Ionicons -->
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="../Admin/assets/dist/css/AdminLTE.min.css">
<!-- AdminLTE Skins. Choose a skin from the css/skins
     folder instead of downloading all of them to reduce the load. -->
<link rel="stylesheet" href="../Admin/assets/dist/css/skins/_all-skins.min.css">
<!-- iCheck -->
<link rel="stylesheet" href="../Admin/assets/plugins/iCheck/flat/blue.css">
<!-- Morris chart -->
<link rel="stylesheet" href="../Admin/assets/plugins/morris/morris.css">
<!-- jvectormap -->
<!--<link rel="stylesheet" href="../Admin/assets/plugins/jvectormap/jquery-jvectormap-1.2.2.css">-->
<!-- Date Picker -->
<link rel="stylesheet" href="../Admin/assets/plugins/datepicker/datepicker3.css">
<!-- Daterange picker -->
<link rel="stylesheet" href="../Admin/assets/plugins/daterangepicker/daterangepicker-bs3.css">
<!-- bootstrap wysihtml5 - text editor -->
<link rel="stylesheet" href="../Admin/assets/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
<!-- Select2 -->
<link rel="stylesheet" href="../Admin/assets/plugins/select2/select2.min.css">
<!-- iCheck for checkboxes and radio inputs -->
<link rel="stylesheet" href="../Admin/assets/plugins/iCheck/all.css">
<!-- Bootstrap Color Picker -->
<link rel="stylesheet" href="../Admin/assets/plugins/colorpicker/bootstrap-colorpicker.min.css">
<!-- Bootstrap time Picker -->
<link rel="stylesheet" href="../Admin/assets/plugins/timepicker/bootstrap-timepicker.min.css">
<!-- Select2 -->
<link rel="stylesheet" href="../Admin/assets/plugins/select2/select2.min.css">
<!--Calendario-->
<link rel="stylesheet" href="../Admin/assets/plugins/Calendario/jquery-ui-1.8.24.custom.css" type="text/css">
<!--<link rel="stylesheet" href="../Admin/assets/plugins/Calendario/calendario.css" type="text/css"/>-->
<!--MY CSS-->
<link rel="stylesheet" href="../Admin/assets/css/css.css">

<!--------------------------------------------------------------------------------->
<!--script-->

<script src="../Admin/assets/js/jquery.js"></script>
<script src="../Admin/assets/plugins/selectToAutocomplete/jquery-ui-autocomplete.js"></script>
<script src="../Admin/assets/plugins/selectToAutocomplete/jquery.select-to-autocomplete.min.js"></script>
<script type="text/javascript">
  (function ($) {
      $(function () {
          $('#PacSol').selectToAutocomplete();
      });
  })(jQuery);
</script>

<!-- jQuery 1.11.3 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<!--<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>-->

<!-- FUNCOES FULL -->
<script src="../Admin/assets/js/MyFunction.js"></script>
<script src="../Admin/assets/js/FuncionUtil.js"></script>
<script src="../Admin/assets/js/Clonar_ou_Remover_Linhas.js"></script>

<!--------------------------------------------------------------------------------->
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button);
</script>

<!-- Morris.js charts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="../Admin/assets/plugins/morris/morris.min.js"></script>

<!-- Sparkline -->
<script src="../Admin/assets/plugins/sparkline/jquery.sparkline.min.js"></script>

<!-- jvectormap -->
<!--<script src="../Admin/assets/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="../Admin/assets/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>-->

<!-- jQuery Knob Chart -->
<script src="../Admin/assets/plugins/knob/jquery.knob.js"></script>

<!-- datepicker -->
<script src="../Admin/assets/plugins/datepicker/bootstrap-datepicker.js"></script>

<!-- Bootstrap WYSIHTML5 -->
<script src="../Admin/assets/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>

<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<!--<script src="../Admin/assets/dist/js/pages/dashboard.js"></script>-->

<!-- AdminLTE for demo purposes -->
<!--<script src="../Admin/assets/dist/js/demo.js"></script>-->

<!-- Select2 -->
<script src="../Admin/assets/plugins/select2/select2.full.min.js"></script>

<!-- InputMask -->
<!--<script src="../Admin/assets/plugins/input-mask/jquery.inputmask.js"></script>
<script src="../Admin/assets/plugins/input-mask/jquery.inputmask.extensions.js"></script>
<script src="../Admin/assets/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>-->

<!-- bootstrap color picker -->
<script src="../Admin/assets/plugins/colorpicker/bootstrap-colorpicker.min.js"></script>
<!-- bootstrap time picker -->
<script src="../Admin/assets/plugins/timepicker/bootstrap-timepicker.min.js"></script>
<!-- iCheck 1.0.1 -->
<script src="../Admin/assets/plugins/iCheck/icheck.min.js"></script>
<!-- jQuery 2.1.4 -->
<script src="../Admin/assets/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<!-- Bootstrap 3.3.5 -->
<script src="../Admin/assets/bootstrap/js/bootstrap.min.js"></script>

<script src="../Admin/assets/plugins/dataTables v PT-BR/jquery.dataTables.js"></script>
<script src="../Admin/assets/plugins/dataTables v PT-BR/dataTables.bootstrap.js"></script>

<!-- datatableslist -->

<!-- date-range-picker -->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>-->
<!--<script src="../Admin/assets/plugins/daterangepicker/daterangepicker.js"></script>-->

<!-- bootstrap time picker -->
<script src="../Admin/assets/plugins/timepicker/bootstrap-timepicker.min.js"></script>
<!-- SlimScroll 1.3.0 -->
<script src="../Admin/assets/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="../Admin/assets/plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="../Admin/assets/dist/js/app.min.js"></script>

<!-- Page script dataTable list -->
<script>
  $(document).ready(function () {

      //        dataTable list
      $('#dataTablesList').dataTable({
          //                "displayStart": 20,
          "paging": true,
          "lengthChange": true,
          "searching": true,
          "ordering": true,
          "info": true,
          "autoWidth": true
      });

      //        dataTable home
      $('#dataTablesHome').dataTable({
          //                "displayStart": 20,
          "paging": true,
          "lengthChange": true,
          "searching": false,
          "ordering": true,
          "info": true,
          "autoWidth": true
      });

  });

</script>

<script src="https://use.fontawesome.com/4497b73b14.js"></script>


</body>
</html>

