
<div class="form-group">
    <table class="col-lg-12 table-responsive">
        <thead>
            <tr> 
                <th class="col-lg-11" >Responsaveis</th>
                <th class="col-lg-1 text-right" >
                    <button type="button" class="btn btn-success col-lg-12 adicionarCampoRES" title="Adicionar item">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i> Add
                    </button>
                </th>                    
            </tr>
            <tr>
                <td class="col-lg-11">
                    <input type="text" value="{nomeUse}" class="form-control" disabled="disabled"/>  
                </td>
                <td class="col-lg-1">
                </td>
            </tr>
        </thead>
        <tbody>
            <tr class="linhasRES"> 
                <td class="col-lg-11">
                    <select name="responsaveis[]" id="" class="form-control" > 
                        <option value="" >Responsaveis</option>
                        <!-- BEGIN BLOCK_RESnc --> 
                        <option value="{IDRES}">{VALUERES}</option>
                        <!-- END BLOCK_RESnc --> 
                    </select>
                </td>  
                <td class="col-lg-1  text-right" >
                    <button type="button" class="btn btn-danger col-lg-12 removerCampoRES "title="Remover item" >
                        <i class="fa fa-times" aria-hidden="true"></i> Rem
                    </button>
                </td>
            </tr> 
        </tbody>
    </table>
</div>
 