<forn action="" id="form">
    <input type="hidden" value="{idUse}" id="idUse"/>
    <input type="hidden" value="{BROWSERID}" id="BROWSERID"/>
<!--    <div class="box-body">
        <div class="box box-primary">
            <div class="box-header with-border">-->
                <h3><i class="fa fa-angle-right"></i> Lista de Usuários</h3>
                <div id="msg" class="msg"></div>
                <hr>
                <h3 class="box-title">
                    <samp>Filtros Avançado</samp>
                    <samp><i class="fa fa-filter text-blue"></i></samp>
                </h3>
<!--            </div>
            <div class="box-body">-->
            <hr/>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group" id="divGroup">
                                <label>Grupos</label>
                                <select class="form-control sel group" id="group" {disabled}>
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
<!--                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group" id="divUser">
                                <label>Usuários</label>
                                <select class="form-control sel user" id="user">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>-->
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label>Impressoras</label>
                                <select class="form-control sel printers" id="printers" {disabled}>
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="col-xs-6 col-sm-5 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label> &nbsp; </label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-search"></i>
                                    </div>
                                    <button id="btn-pesquisar" class="form-control text-black btn-primary CaixaAlta" title="Pesquisar"><b class="">Pesquisar</b></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-5 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label> &nbsp; </label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-search"></i>
                                    </div>
                                    <button id="btn-todos" class="form-control text-black btn-primary CaixaAlta cor-white" title="Todos"><b class="">Todos</b></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<!--            </div>
        </div>
    </div>-->
</forn>
