<forn action="" id="form">
    <h3><i class="fa fa-angle-right"></i>Grafico de Estatistico de Grupos</h3>
    <div id="msg" class="msg"></div>
    <hr>
    <h3 class="box-title">
        <samp>Filtros Avançado</samp>
        <samp><i class="fa fa-filter text-blue"></i></samp>
    </h3>
    <hr/>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group" id="">
                    <label>Responsável</label>
                    <select class="form-control sel users" id="userUR" {disabled}>
                        <option value="0"></option>
                        <!-- BEGIN BLOCK_USER -->
                        <option value="{ID}">{VALUE}</option>
                        <!-- END BLOCK_USER -->
                    </select>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                    <label>Ano</label>
                    <select class="form-control" id="ano" >
                        <option value="2020" >2020</option>
                        <!-- BEGIN BLOCK_ANO -->
                        <option value="{IDd}">{VALUEd}</option>
                        <!-- END BLOCK_ANO -->
                    </select>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <div class="col-xs-6 col-sm-5 col-md-6 col-lg-6">
                <div class="form-group">
                    <label> &nbsp; </label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-search"></i>
                        </div>
                        <button id="btn-pesquisar" class="form-control text-black btn-primary CaixaAlta" title="Pesquisar"><b class="">Pesquisar</b></button>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-5 col-md-6 col-lg-6">
                <div class="form-group">
                    <label> &nbsp; </label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-search"></i>
                        </div>
                        <button id="btn-todos" class="form-control text-black btn-primary CaixaAlta cor-white" title="Todos"><b class="">Todos</b></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</forn>
