<footer class="main-footer">
   <div class="container">
      <div class="pull-right hidden-xs">
         <b>API</b>
      </div>
      <strong>Todos os direitos reservados &copy; 2016 <a href="#"> App API - Developed by Abílio José G Ferreira </a>.</strong>
   </div>
</footer>