

<header class="main-header">
    <!-- Logo -->
    <a href="{caminho}index.php" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>API</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>App API</b></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Recolher menu button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Recolher menu</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Messages: style can be found in dropdown.less-->

                <!--Ao chegar uma notificação, será exibido a quantidade de notificações-->
                <li class="dropdown notifications-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i>
                        <!--Colocar a quantidade notificações-->
                        <span class="label label-warning">0</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!--Total de Notificações Pendentes, Aguardando e Resolvidas-->
                        <li class="header">Não Existem novas notificaçõs</li>
                        <li>
                            <!-- Colocar as variações por  Pendentes, Aguardando e Resolvidas-->
                            <ul class="menu">
                                <li>
                                    <a href="#">
                                        <!--Total de notificações pendentes-->
                                        <i class="fa fa-life-buoy text-red"></i> 0 Solicitações Pendentes
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <!--Total de notificações aguardando-->
                                        <i class="fa fa-warning text-yellow"></i> 0 Solicitações Aguardando
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <!--Total de notificações resolvidas-->
                                        <i class="fa fa-check text-green"></i> 0 Solicitação Resolvida
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!--Fazer filtro com todas as notificações-->
                        <li class="footer"><a href="#">Veja todas as notificações</a></li>
                    </ul>
                </li> 

                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <!--preencher campo de imagem com a imagem inserida pelo usuario no banco-->
                        <img src="{caminho}assets/images/user/t1_{fotoUse}" class="user-image" alt="User Image">
                        <!--preencher campo de nome com os dados do usuario no banco-->
                        <span class="hidden-xs">{nomeUse}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <!--preencher campo de imagem com a imagem inserida pelo usuario no banco-->
                            <img src="{caminho}assets/images/user/t1_{fotoUse}" class="img-circle" alt="User Image" >
                            <p onclick="window.location.href = '{caminhos}controller/cad_Usuario.php?acao=sc&id={idUse}';">
                                {nomeUse} - {nivelUse}
                            </p>
                            <p style="font-size: 10pt">
                                {INFO_APP}
                            </p>
                        </li>

                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="{caminhos}controller/cad_Usuario.php?acao=sc&id={idUse}" class="btn btn-default btn-flat">Minha Conta</a>
                            </div>
                            <div class="pull-right">
                                <!--                                            Fechar seção do usuario-->
                                <a href="{caminhos}controller/cad_Usuario.php?acao=sair" class="btn btn-default btn-flat">Sair</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- Control Sidebar Toggle Button -->
                <li>
                    <!--Não iremos trabalhar com esse item no momento, ele se refere as configurações de menu e propriedades da tela-->
                </li>
            </ul>
        </div>
    </nav>
</header>
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <!--Preencher campo de imagem com a imagem inserida pelo usuario no banco-->
                <img  src="{caminho}assets/images/user/t1_{fotoUse}" class="img-circle" alt="User Image"> 
            </div>
            <div class="pull-left info">
                <!--Preencher campo de nome com os dados do usuario no banco-->
                <p onclick="window.location.href = '{caminhos}controller/cad_Usuario.php?acao=sc&id={idUse}';">{nomeUse}</p>
                <a href="{caminhos}controller/cad_Usuario.php?acao=sc&id={idUse}">Minha Conta</a>
            </div>
        </div>

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">

            <li class="treeview">
                <!--Carregar tela do Inicio-->
                <a href="{caminho}index.php">
                    <i class="fa fa-share"></i> 
                    <span>Inicio</span>
                </a>
            </li>

            <!-- BEGIN BLOCK_ADMIN -->
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-share"></i> <span>Gerenciamento</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <!--<li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>-->

                    <li>
                        <a href="#">
                            <i class="fa fa-user"></i>
                            Cargos 
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>

                        <ul class="treeview-menu">
                            <li><a href="{caminhos}controller/cad_Cargo.php?acao=n"><i class="fa fa-plus-circle" aria-hidden="true"></i> Novo</a></li>
                            <li><a href="{caminhos}controller/cad_Cargo.php?acao=l"><i class="fa fa-th-list" aria-hidden="true"></i> Listar</a></li>
                        </ul>
                    </li>  

                    <li>
                        <a href="#">
                            <i class="fa fa-user"></i>
                            <span>Usuários</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="{caminhos}controller/cad_Usuario.php?acao=n"><i class="fa fa-plus-circle" aria-hidden="true"></i> Novo </a></li>
                            <li><a href="{caminhos}controller/cad_Usuario.php?acao=l"><i class="fa fa-th-list" aria-hidden="true"></i> Listar </a></li>
                        </ul>
                    </li>

                    <!--                    <li>
                                            <a href="#"><i class="fa fa-circle-o"></i> Level One <i class="fa fa-angle-left pull-right"></i></a>
                                            <ul class="treeview-menu">
                                                <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
                                                <li>
                                                    <a href="#"><i class="fa fa-circle-o"></i> Level Two <i class="fa fa-angle-left pull-right"></i></a>
                                                    <ul class="treeview-menu">
                                                        <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                                                        <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>-->        

                </ul>
            </li>
            <!-- END BLOCK_ADMIN -->

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-user"></i>
                    <span>Cliente</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i> Novo </a></li>
                    <li><a href="#"><i class="fa fa-th-list" aria-hidden="true"></i> Listar </a></li>
                </ul>
            </li>
            
            <!--    <li class="treeview">
                            <a href="#">
                                <i class="fa fa-share"></i> <span>Gerenciamento</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">-->
            <!-- <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>--> 
            <!--                    
            <li>
                                     <a href="#"><i class="fa fa-circle-o"></i> Level One <i class="fa fa-angle-left pull-right"></i></a>
                                     <ul class="treeview-menu">
                                         <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
                                         <li>
                                             <a href="#"><i class="fa fa-circle-o"></i> Level Two <i class="fa fa-angle-left pull-right"></i></a>
                                             <ul class="treeview-menu">
                                                 <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                                                 <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                                             </ul>
                                         </li>
                                     </ul>
                                 </li>
         </ul>
     </li>
            -->
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
<!-- Content Wrapper. Contains page content -->
