
<meta charset="{metaCharset}" />

<!--<meta content="width=device-width,initial-scale=1" />-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!--<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />-->

<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<meta name="description" content="API" />
<meta name="author" content="Dashboard" />
<meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Atende Facil" />

<meta http-equiv="cache-control" content="max-age=0" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
<meta http-equiv="pragma" content="no-cache" />

<link rel="icon" href="{caminho}assets/images/favicon.ico"/>

<title>App API</title>

<!-- Bootstrap v3.3.7 -->
<link rel="stylesheet" href="{caminho}assets/bootstrap/css/bootstrap.min.css" />

<!-- Font Awesome -->
<link rel="stylesheet" href="{caminho}assets/plugins/Font-Awesome/css/font-awesome.min.css" />
<!--<script src="https://use.fontawesome.com/4497b73b14.js"></script>-->

<!-- Ionicons -->
<link rel="stylesheet" href="{caminho}assets/plugins/ionicons/css/ionicons.min.css" />

<!-- Theme style -->
<link rel="stylesheet" href="{caminho}assets/dist/css/AdminLTE.min.css" />

<!-- Peles AdminLTE. Escolha um skin da pasta css / skins em vez de baixar todos eles para reduzir a carga. -->
<link rel="stylesheet" href="{caminho}assets/dist/css/skins/_all-skins.min.css" />

<!-- Select2 -->
<link rel="stylesheet" href="{caminho}assets/plugins/select2/dist/css/select2.min.css" />

<!--MY CSS-->
<link rel="stylesheet" href="{caminho}assets/css/css.css"/>
<link rel="stylesheet" href="{caminho}assets/css/myFAIcon.css"/>

<!-- HTML5 Shim e Respond.js IE8 suporte de elementos HTML5 e consultas de mídia -->
<!-- AVISO: Respond.js não funciona se você visualizar a página por arquivo: // -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- datatables list -->
<!--<link rel="stylesheet" href="../../assets/plugins/datatables/" />-->
<link rel="stylesheet" href="{caminho}assets/plugins/datatables/media/css/jquery.dataTables.min.css" />
<!--<link rel="stylesheet" href="{caminho}assets/pluginsEdit/datatables/media/css/jquery.dataTables.min.css" />-->

<!--Normalize-->
<link rel="stylesheet" href="{caminho}assets/normalize/Normalize.css"/>
