<section class="content">
    <div id="" class="ModalOpcoes modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->                      
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"> Opções </h4>
                </div>
                <div class="modal-body">
                    <div class="box-body">
                        <div class="row">
                            <form class="form-horizontal style-form" id="form">
                                <input type="hidden" name="nomepage" id="nomepage" value="{nomepage}" >
                                <input type="hidden" name="tipo" id="tipo" value="{TIPO}" >
                                <input type="hidden" name="valorIds" id="valorIds" >
                                <div class="form-group">
                                    <div class="col-xs-4">                                        
                                        <button type="button" id="OpEditar" class="form-control btn btn-success">Editar</button>
                                    </div>
                                    <div class="col-xs-4"> 
                                        <button type="button" id="OpVisualizar" class="form-control btn btn-primary">Visualizar</button>
                                    </div>
                                    <div class="col-xs-4"> 
                                        <button type="butto0n" id="OpRemover"  class="form-control btn btn-danger">Remover</button>
                                    </div>
                                </div>
                            </form>
                        </div>                                            
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <div class="col-xs-4">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Sair</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>