<script src="{caminho}assets/plugins/highcharts/highcharts.js" type="text/javascript"></script>
<script src="{caminho}assets/plugins/highcharts/highcharts-more.js" type="text/javascript"></script>
<script src="{caminho}assets/plugins/highcharts/modules/solid-gauge.js" type="text/javascript"></script>
<script src="{caminho}assets/plugins/highcharts/modules/solid-gauge.src.js" type="text/javascript"></script>
<script src="{caminho}assets/plugins/highcharts/modules/drilldown.js" type="text/javascript"></script>
<script src="{caminho}assets/plugins/highcharts/modules/drilldown.src.js" type="text/javascript"></script>
<script src="{caminho}assets/plugins/highcharts/modules/data.js" type="text/javascript"></script>