<script src="{caminho}assets/jslocal/jsapi.js"></script>

<!-- InputMask -->
<!--<script src="{caminho}assets/plugins/input-mask/jquery.inputmask.js"></script>-->
<!--<script src="{caminho}assets/plugins/input-mask/jquery.inputmask.extensions.js"></script>-->
<!--<script src="{caminho}assets/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>-->
<script>
//var selector = document.getElementById("selector");
//var im = new Inputmask("99-9999999");
//im.mask(selector);
//Inputmask({"mask": "(999) 999-9999",).mask(selector);
//Inputmask("9-a{1,3}9{1,3}").mask(selector);
//Inputmask("9", { repeat: 10 }).mask(selector);
</script>

<!-- Bootstrap v3.3.7 -->
<script src="{caminho}assets/bootstrap/js/bootstrap.min.js"></script>

<!-- FastClick -->
<!--<script src="{caminho}assets/plugins/fastclick/fastclick.js"></script>-->

<!-- AdminLTE App -->
<script src="{caminho}assets/dist/js/app.min.js"></script>

<!-- datatables -->
<!--<script src="../../assets/plugins/datatables/Bootstrap/js/"></script>-->
<script src="{caminho}assets/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="{caminho}assets/plugins/datatables/media/js/dataTables.bootstrap.js"></script>
<!--<script src="../../assets/plugins/datatables/"></script>-->

<!-- Select2 -->
<script src="{caminho}assets/plugins/select2/dist/js/select2.min.js"></script>

<script src="{caminho}assets/js/Main_test.js"></script>