<!--jQuery-->
<script src="{caminho}assets/plugins/jQuery/dist/jquery.min.js"></script>
<!--jquery-ui-->
<script src="{caminho}assets/js_jquery/jquery-ui/jquery-ui.1.11.4.js"></script>
<!--<script src="../../assets/js_jquery/jquery-ui/"></script>-->

<!-- FUNCOES FULL -->
<script src="{caminho}assets/js/MyFunction.js"></script>
<script src="{caminho}assets/js/FuncionUtil.js"></script>
<script src="{caminho}assets/js/Clonar_ou_Remover_Linhas.js"></script>
<script src="{caminho}assets/js/img_ver_upload.js"></script>
